html body {
  max-width: 100%;
  overflow-x: hidden;
}

.footer {
  font-family: Arial, serif;
  color: #F1F3F1;
  clear: both;
  margin-top: 20px;
  text-align: center;
  background-color: #000000;
}
